force-app/main/default/flows/Create_a_PMT_Project.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Office_Decision_for_Project_Owner</name>
        <label>Office Decision for Project Owner</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Midwest_Machinery_STL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Midwest Machinery STL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_a_Project</targetReference>
            </connector>
            <label>Midwest Machinery STL</label>
        </rules>
        <rules>
            <name>End</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Office__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Midwest Machinery STL</stringValue>
                </rightValue>
            </conditions>
            <label>End</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>This converts the opportunity bid date/time to just date.</description>
        <name>bid_date_conversion</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Bid_Date__c}</expression>
    </formulas>
    <formulas>
        <name>DueDateMinusTwoDays</name>
        <dataType>Date</dataType>
        <expression>{!bid_date_conversion} - 2</expression>
    </formulas>
    <interviewLabel>Create a PMT Project {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create a PMT Project 4</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_a_Project</name>
        <label>Create a Project for Saint Louis</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignRecordIdToReference>ProjectID</assignRecordIdToReference>
        <connector>
            <targetReference>AE_Selections_Project</targetReference>
        </connector>
        <inputAssignments>
            <field>Bid_Date__c</field>
            <value>
                <elementReference>$Record.Bid_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_owner__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00561000000gZ3TAAU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Description__c</field>
            <value>
                <elementReference>$Record.Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Initial_End_Date__c</field>
            <value>
                <elementReference>bid_date_conversion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Level_of_Effort__c</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Program__c</field>
            <value>
                <elementReference>PMT_Program.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Project_Health__c</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.Office__c</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Project__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Phase_1</name>
        <label>Create Phase 1</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignRecordIdToReference>phase1</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Phase_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Opportunity Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase_Description__c</field>
            <value>
                <stringValue>Acquire plans and determine if this project is a bid or no bid. </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase_Health__c</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Project__c</field>
            <value>
                <elementReference>ProjectID</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Phase__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Phase_2</name>
        <label>Create Phase 2</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <assignRecordIdToReference>phase2</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Phase_3</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Scope</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase_Description__c</field>
            <value>
                <stringValue>Scope due 48 hours prior to sending bid.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase_Health__c</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Project__c</field>
            <value>
                <elementReference>ProjectID</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Phase__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Phase_3</name>
        <label>Create Phase 3</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <assignRecordIdToReference>phase3</assignRecordIdToReference>
        <connector>
            <targetReference>Phase_1_Task_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Finalize Bid</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase_Description__c</field>
            <value>
                <stringValue>Acquire plans and determine if this project is a bid or no bid. If it&apos;s a no bid, complete the task and close your project.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase_Health__c</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Project__c</field>
            <value>
                <elementReference>ProjectID</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Phase__c</object>
    </recordCreates>
    <recordCreates>
        <name>Phase_1_Task_1</name>
        <label>Phase 1 Task 1</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>Phase_1_Task_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Bid/No Bid</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012O4000000VnUHIA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Description__c</field>
            <value>
                <stringValue>Acquire all necessary plans and drawings. Determine if should bid this.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Due_Date__c</field>
            <value>
                <elementReference>DueDateMinusTwoDays</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>phase1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Status__c</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Phase_1_Task_2</name>
        <label>Phase 1 Task 2</label>
        <locationX>50</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Phase_2_Task_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Approved Alternate</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012O4000000VnUHIA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Description__c</field>
            <value>
                <stringValue>Acquire all necessary plans and drawings. Determine if should bid this.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>phase1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Status__c</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Phase_2_Task_1</name>
        <label>Phase 2 Task 1</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Phase_2_Task_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Special Pricing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012O4000000VnUHIA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Description__c</field>
            <value>
                <stringValue>Check for equipment we can&apos;t bid ourselves or require special considerations</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Due_Date__c</field>
            <value>
                <elementReference>bid_date_conversion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>phase2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Status__c</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Phase_2_Task_2</name>
        <label>Phase 2 Task 2</label>
        <locationX>50</locationX>
        <locationY>1403</locationY>
        <connector>
            <targetReference>Phase_2_Task_3</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Initial Scope Creation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012O4000000VnUHIA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Description__c</field>
            <value>
                <stringValue>Create the initial scope for this project</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Due_Date__c</field>
            <value>
                <elementReference>DueDateMinusTwoDays</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>phase2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Status__c</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Phase_2_Task_3</name>
        <label>Phase 2 Task 3</label>
        <locationX>50</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>Phase_3_Task_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Scope Review with Sales Engineer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012O4000000VnUHIA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Description__c</field>
            <value>
                <stringValue>Create the initial scope for this project</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Due_Date__c</field>
            <value>
                <elementReference>DueDateMinusTwoDays</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>phase2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Status__c</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Phase_3_Task_1</name>
        <label>Phase 3 Task 1</label>
        <locationX>50</locationX>
        <locationY>1619</locationY>
        <connector>
            <targetReference>Phase_3_Task_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Finalize Pricing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012O4000000VnUHIA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Description__c</field>
            <value>
                <stringValue>Finish pricing prior to sending bid.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Due_Date__c</field>
            <value>
                <elementReference>bid_date_conversion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>phase3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Status__c</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Phase_3_Task_2</name>
        <label>Phase 3 Task 2</label>
        <locationX>50</locationX>
        <locationY>1727</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Send Bid</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012O4000000VnUHIA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Description__c</field>
            <value>
                <stringValue>Indicate that the bid has been sent out</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Due_Date__c</field>
            <value>
                <elementReference>bid_date_conversion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>phase3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Status__c</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>PMT_Program</name>
        <label>PMT Program</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Office_Decision_for_Project_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Office__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>inov8__PMT_Program__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>AE_Selections_Project</name>
        <label>AE Selections Project</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Create_Phase_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PMT_Project__c</field>
            <value>
                <elementReference>ProjectID</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PMT_Program</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012O4000000RMIzIAO</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012610000006nAPAAY</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>phase1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>phase2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>phase3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProjectID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
